@import url('/static/css/category.css');
@import url('/static/css/error.css');
@import url('/static/css/home.css');
@import url('/static/css/login.css');
@import url('/static/css/order.css');
@import url('/static/css/orderCompleted.css');
@import url('/static/css/payment.css');
@import url('/static/css/product.css');
@import url('/static/css/shoppingcartPro.css');
@import url('/static/css/signup.css');
@import url('/static/css/mypage.css');
@import url('/static/css/mypageEdit.css');
@import url('/static/css/orderEdit.css');
@import url('/static/css/admin.css');
@import url('/static/css/adminManagement.css');
@import url('/static/css/adminProductSetting.css');
@import url('/static/css/adminCategory.css');
@import url('/static/css/adminProductList.css');

@font-face {
  font-family: 'hazel_mp';
  src: url('/web/upload/hazel/hazel_mp_b.eot');
  src:
    url('/web/upload/hazel/hazel_mp_b.eot?#iefix') format('embedded-opentype'),
    url('/web/upload/hazel/hazel_mp_b.ttf') format('truetype'),
    url('/web/upload/hazel/hazel_mp_b.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background: rgba(255, 168, 168, 0.13);
  scroll-behavior: smooth;
}

body,
code {
  font:
    0.75em 'hazel_mp',
    'Lato',
    sans-serif,
    'Noto Sans KR',
    'Gothic A1',
    sans-serif;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #555;
}

a:active {
  text-decoration: none;
}

#wrap {
  position: relative;
  width: 100%;
  margin: 0 auto 0;
}

th,
td {
  border: 0;
  vertical-align: top;
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  font-family: 'hazel_mp', 'Lato', sans-serif, 'Noto Sans KR', 'Gothic A1',
    sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}

li {
  list-style: none;
}

#container {
  margin: 0 270px;
  zoom: 1;
}

#container:after {
  content: '';
  display: block;
  clear: both;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 50px;
  width: 220px;
  height: 100%;
  z-index: 9;
  line-height: 2em;
}

#rightbar {
  position: fixed;
  top: 0;
  right: 40px;
  width: 210px;
  height: 100%;
  z-index: 8;
  line-height: 2em;
  text-align: right;
  padding: 0 10px 0 0;
}

.logo-margin {
  padding: 50px 0 20px 0.75em;
}

.logo-margin a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.category {
  margin: 0 0 30px;
}

.category .position > ul > li {
  position: relative;
  z-index: 10;
  max-width: 120px;
}

.category .position > ul > li > a {
  display: block;
  font-size: 14px;
}

.category .position > ul > li > a:hover {
  background-color: #fff;
}

.category .position > ul > li > a.is-active {
  background-color: #cc1e46;
}

.category .sub-category a {
  font-size: 12px;
}

.category .sub-category a:hover {
  background-color: #fff;
}

#rightbar {
  position: fixed;
  top: 0;
  right: 40px;
  width: 100px;
  height: 100%;
  z-index: 8;
  line-height: 2em;
  text-align: right;
  padding: 0 10px 0 0;
}

.cart-txt {
  padding: 150px 0 50px;
  font-size: 1.2em;
}

.right-element > a {
  display: block;
}

#contents_main {
  animation: fadein 1500ms ease-out;
  -moz-animation: fadein 1500ms ease-out;
  -webkit-animation: fadein 1500ms ease-out;
  -o-animation: fadein 1500ms ease-out;
}

#contents_main {
  margin: 0 auto;
  padding: 85px 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media all and (max-width: 1280px) {
  #container {
    margin: 0 200px;
  }
  #sidebar {
    width: 170px;
    left: 30px;
  }
}

@media all and (max-width: 840px) {
  #container {
    margin: 0 160px;
  }
  #sidebar {
    width: 120px;
    left: 20px;
  }
}

/** 푸터 **/
footer {
  padding: 10px 0 30px;
  position: relative;
}

.footer_logo {
  text-align: center;
}

.footer_body {
  display: flex;
  justify-content: flex-end;
  margin: 0 270px;
  align-items: flex-end;
  gap: 20px;
}

.footer_information > li {
  list-style-type: none;
  margin-top: 3px;
  color: #808080;
}

.footer_company > li {
  list-style-type: none;
  margin-top: 3px;
  color: #808080;
}

.titleArea {
  margin: 0 0 30px;
  text-align: center;
}
